name: FDA Scraper

on:
  workflow_dispatch:      # กดรันเองได้
  schedule:
    - cron: '0 18 * * *'  # (มีหรือไม่มีก็ได้ ถ้ามีคือรันทุกวัน)

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run scraper
        run: |
          python scrape_fda.py
